* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

p {
    text-align: justify;
}

/* ------------------------------------------------------------------------------ */

#titulo-principal {
    font-size: 3em;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------ */

#menu {
    display: flex;
    align-items: center;
    height: 4em;
}

#menu li {
    display: inherit;
    align-items: inherit;
    height: 100%;
}

#menu li a {
    display: block;
    padding: 1rem;
    align-items: inherit;
    /* height: 100%; */
    /* padding: 0px 10px; */
}

#menu li a:hover {
    background-color: #d36064;
}

#btn-menu {
    display: none;
}

/* ------------------------------------------------------------------------------ */

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ee6e73;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

/* ------------------------------------------------------------------------------ */

section {
    padding: 30px;
}

section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

#servicos div{
    box-shadow: 10px 5px 10px #00000042;
    border: 1px solid #00000075;
    border-radius: 15px;
    padding: 20px 15px;
    margin: 15px;
    width: 35em;
}

/* ------------------------------------------------------------------------------ */

#fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#fotos img {
    padding: 15px;
    width: 30%;
}

/* ------------------------------------------------------------------------------ */

.contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ee6e73;
    color: white;
}

.contato h2 {
    width: 100%;
}

.contato p {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.contato div {
    text-align: center;
    padding: 15px;
}

.contato img {
    width: 40px;
}

/* ------------------------------------------------------------------------------ */

footer {
    padding: 0px 30px;
    padding-bottom: 15px;
    background-color: #ee6e73;
}

/* ------MEDIA SCREEN TABLET------ */

@media screen and (min-width: 767px) and (max-width: 1023px) {
    #btn-menu {
        display: block;
    }

    #menu {
        border-top: #d36064 solid 1px;
        display: block;
        align-items: flex-start;
        position: absolute;
        top: 4em;
        right: 0px;
        width: 100%;
        height: 100px;
        z-index: 1000;
    }

    #menu li {
        background-color: #ee6e73;
        height: auto;
    }

    #nav.active #menu {
        display: none;

    }

    #btn-menu {
        color: #ffffff;
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #icon-menu {
        width: 20px;
        border-top: 2px solid;
    }

    #icon-menu::after, #icon-menu::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
    }

    #servicos div{
        width: 100%;
    }

    #fotos img {
        width: 45%;
    }
}

/* ------MEDIA SCREEN SMATPHONE------ */

@media screen and (max-width: 767px) {
    #btn-menu {
        display: block;
    }

    #menu {
        border-top: #d36064 solid 1px;
        display: none;
        align-items: flex-start;
        position: absolute;
        top: 4em;
        right: 0px;
        width: 100%;
        height: 100px;
        z-index: 1000;
    }

    #menu li {
        background-color: #ee6e73;
        height: auto;
    }

    #nav.active #menu {
        display: none;

    }

    #btn-menu {
        color: #ffffff;
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #icon-menu {
        width: 20px;
        border-top: 2px solid;
    }

    #icon-menu::after, #icon-menu::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
    }

    #servicos div{
        width: 100%;
    }

    #fotos img {
        width: 90%;
    }
}
